.container {

    overflow: hidden;
}

.judul {
    padding-top: 5%;
    text-align: center;
    padding-bottom: 2%;
    font-family: sans-serif;
}

.judul h4 {

    font-size: 2rem;
    font-weight: bold;
}